{% extends 'base.html' %}

{% block title %}
Register Form
{%endblock%}

{% block content %}
<div class="container pt-5" >
<form action="" method="post" id="acform" branch-url="{% url 'bankapp:ajax_branch' %}">
  {% csrf_token %}
  <h1>Registration Form</h1>
{{form.as_p}}

  <!-- Submit button -->
  <div class="row mb-5">
    <div class="col-md-3">
      <button type="submit" class="btn btn-primary  btn-block mb-4">Place order</button>
   </div>
     <div class="col-md-3">
      <a href="{% url 'authapp:logout' %}" class="btn btn-success  btn-block">Logout</a>
   </div>
    </div>
</form>

{% if messages %}
  {% for ms in messages %}

<div class="row mb-5">
    <div class="col-md-6">
     <h4 style="color:red;"> {{ms}}</h4>
   </div>

    </div>
  <div class="col-md-3 mb-5">
     <a href="{% url 'bankapp:home' %}" class="btn btn-warning btn-block mb-5">Home</a>
  </div>
  {% endfor %}




{% endif %}
  </div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$("#id_district").change(function(){
  const url = $("#acform").attr("branch-url");
  const districtId = $(this).val()
console.log(districtId)
  $.ajax({
  url : url,
  data:{
  'dist_id' : districtId
},
success:function(data){
  console.log(data)
  $("#id_branch").html(data);

  },
  });
  });

</script>

{%endblock%}