{% extends 'base.html' %}

{% block title %}
Home
{%endblock%}

{% block content %}
<section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Sign in</h3>
              <h6 style="color:red;">{%for i in messages%} {{i}} {% endfor %}</h6>
<form action="" method="post">
  {% csrf_token %}
            <div class="form-outline mb-4">
              <input name="username" type="text" id="typeEmailX-2" class="form-control form-control-lg border" />
              <label class="form-label " for="typeEmailX-2">Username</label>
            </div>

            <div class="form-outline mb-4">
              <input name="password" type="password" id="typePasswordX-2" class="form-control form-control-lg border" />
              <label class="form-label" for="typePasswordX-2">Password</label>
            </div>

            <!-- Checkbox -->

            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>

&nbsp;
<p>Don't have an account? <a href="{% url 'authapp:signup'%}" class="link-info">Register here</a></p>
        </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}